# macOS
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
.python-version

# Virtual Environment
venv/
venv*/
.venv/

# ZIP
*.zip
venv_local/
venv_py312/
venv312/
*.mov
*.mkv
*.m4aお題回答結果/被験者の発話データ/odai.py
